.round {
    border-radius: 15px !important;
}

.fz-16 {
    font-size: 16px;
}

.btn-large {
    width: 200px;
}

.img-efects {
    width: 100%;
    max-height: 100%;
    transition: .25s ease-in-out
}

.img-efects:hover {
    animation-duration: .5s;
    transform: scale(1.1);
}

.container-img {
    width: 279px;
    height: 157px;
}

.container-img img {
    width: 279px;
    height: auto;
}

.p-search {
    padding-left: 5em;
    padding-right: 5em;
}

.btn-custom {
    background-color: #998a33;
    border-color: #998a33;
}

.btn-custom:hover {
    background-color: #86792c;
    border-color: #86792c;
}