body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

footer {
    background: #d4bd55;
    padding: 20px 0px 20px 0px;
    text-align: center;
    
}

footer .redes-sociales img{
    width: 20px; height: 20px; 
}

header {
    background: #d4bd55;
    text-align: center;
}

header .encabezado{
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.28);
    z-index: 2;
}

header nav {
    background: white;
    padding-top: 1px;
    
}

header div .logo img{
    width: 110px; 
    padding: 0px 0px 0px 0px;
}

section{
    padding-top: 10px;
    height: 488px;
}
section div .fondo {
    background: url(../assets/fondo-main.jpg) repeat;
}

section div .informacion{
    margin: 40px;
    background-color: #e5e9aa;
    border: 1px solid black;
    opacity: 1;
}

section div .informacion p, section div .informacion h3{
    margin: 4%;
    font-weight: bold;
    color: #000000;
}

header nav {
    text-align: center;
}
header nav ul {
    list-style: none;
    display: flex;
    padding: 5px 0px 8px 5px;
    margin: 0px;

}
