<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../states/normalize.min.css">
    <link rel="stylesheet" href="../states/style.css">
    <title>Bienvenido</title>
</head>
<body>
    <header>
        <div class ="encabezado">
            <div class ="logo">
            <img src="../assets/logo.png" alt="">
            </div>
        </div>
        <nav>
            <ul>
                <p><h2>RADISSON ROYAL DUBAI</h2></p>
                <li><a href="#">Busqueda de habitaciones</a></li>
                <li><a href="#">Registrarse o Iniciar sesión</a></li>
            </ul>            
        </nav>
    </header>


    <main>
        <section>
            <h3>INFORMACIÓN GENERAL</h3>
            <p></p>
        </section>
    </main>
    <footer>
        <div class = "redes-sociales">
            <img src="../assets/facebook.svg" alt="">
            <img src="../assets/instagram.svg" alt="">
            <img src="../assets/twitter.svg" alt="">
            <img src="../assets/youtube.svg" alt="">
        </div>
    </footer>
    
</body>
</html>