<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= '../static/states/style-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= '../static/states/normalize.min.css') }}">
    <title>Registro e inicio de sesión</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <img src="{{url_for('static', filename='../static/assets/logo.png')}}" alt="">
            </div>
        </div>
        <nav>
            <h2>RADISSON ROYAL DUBAI</h2>
            <ul>
                <li class="habitaciones"><a href="bedrooms">Busqueda de habitaciones</a></li>
                <li class="dashboard"><a href="dashboard">Dashboard Administrativo</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="form">
            <div class="columnas">
                <div id="registro">
                    <h3>Registrarse</h3>
                    <form action="http://127.0.0.1:5000/login" method="post" method="get" id="form-registro"> 
                        <div class="nombre-apellido">
                            <div class="nombre">
                                <label for="name">
                                    Nombre<span class="req">*</span>
                                </label>
                                <input type="text" id="name" name="nombre" required autocomplete="off" />
                            </div>
                            <div class="apellido">
                                <label for="apellido">
                                    Apellido<span class="req">*</span>
                                </label>
                                <input type="text" id="apellido" name="apellido" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="correo-registro">
                            <label for="caja">
                                Correo Electrónico<span class="req">*</span>
                            </label>
                            <input type="email" id="caja" name="correo" required autocomplete="off" />
                        </div>
                        <div class="contraseña-registro">
                            <label for="contra-reg">
                                Contraseña<span class="req">*</span>
                            </label>
                            <input type="password" id="contra-reg" name="contra" required autocomplete="off" />
                        </div>
                        <button type="submit" id="boton"  class="button button-block" />Registrarse</button>
                    </form>
                </div>
                <div id="iniciar">
                    <h3>Iniciar Sesión</h3>
                    <form action="http://127.0.0.1:5000/login" method="post" method="get" id="form-inicio">
                        <div class="correo-iniciar">
                            <label for="caja2">
                                Correo Electrónico<span class="req">*</span>
                            </label>
                            <input type="email" id="caja2" name="correo-ini" required autocomplete="off" />
                        </div>
                        <div class="contraseña-iniciar">
                            <label for="contraseña-iniciar">
                                Contraseña<span class="req">*</span>
                            </label>
                            <input type="password" id="contraseña-iniciar" name="contra-ini" required autocomplete="off" />
                        </div>
                        <p class="olvidar"><a href="#">Olvidaste la contraseña?</a></p>
                        <button id="boton2" class="button button-block" />Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

 
    <footer>
        <div class="redes-sociales">
            <img src="{{url_for('static', filename='../static/assets/facebook.svg')}}">
            <img src="{{url_for('static', filename='../static/assets/instagram.svg')}}">
            <img src="{{url_for('static', filename='../static/assets/twitter.svg')}}">
            <img src="{{url_for('static', filename='../static/assets/youtube.svg')}}">
        </div>
    </footer>
</body>

</html>

</body>
<script src={{ url_for ('static', filename='../static/js/validate.js')}}></script>
</html>