<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href={{ url_for ('static', filename='states/normalize.min.css')}}>
    <link rel="stylesheet" href={{ url_for ('static', filename='states/style-welcome.css')}}>
    <title>Bienvenido</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <div class="logo">
                <img src="../assets/logo.png" alt="">
            </div>
        </div>
        <nav>
            <h2>RADISSON ROYAL DUBAI</h2>
            <ul>
                <li class="habitaciones"><a href="bedrooms.html">Busqueda de habitaciones</a></li>
                <li class="registro"><a href="login.html"> <img src="../assets/img-login.svg" alt=""> Registrarse o Iniciar
                        sesión</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="fondo">
            <div class="informacion">
                <h3>INFORMACIÓN GENERAL</h3>
                <p>Transforme cualquier viaje en una escapada relajante en el <strong>Radisson Royal Dubai</strong>,
                    hotel 5 estrellas donde encontrará una combinación perfecta de servicios de alta tecnología y alta
                    calidad. Situado en el corazón de Dubai.
                    <br><br>
                    Las modernas habitaciones, con colchones con la parte superior acolchada y servicio a la habitación
                    las 24 horas, constituyen un retiro perfecto tras un día ajetreado. Cualquiera que sea el motivo de
                    su viaje, el <strong>Radisson Royal Dubai</strong> le ofrece una perdurable experiencia de primer
                    nivel.
                    <br><br><br><br>
                    ¡Te esperamos!
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="redes-sociales">
            <img src="../assets/facebook.svg" alt="">
            <img src="../assets/instagram.svg" alt="">
            <img src="../assets/twitter.svg" alt="">
            <img src="../assets/youtube.svg" alt="">
        </div>
    </footer>
</body>

</html>